{% extends "layout.html" %}
{% block title %}Content Edit{% endblock %}
{% block content %}

<div class="container" role="main">
    <div class="page-header">
        <h1>Edit Comment</h1>
    </div>


    <form role="form" action="{{url_for('comment_edit', commentid=commentid)}}" id="commentidform" class="form-horizontal" method="post">
        <div class="form-group">
            <label class="control-label col-sm-2" for="incomment">Comment</label>
            <div class="col-sm-10">
                <input class="form-control" id="incomment" name="incomment" type="text" required placeholder="Comment" value="{{ comment[0][2] }}">
            </div>
        </div>
        <input type="hidden" name="indate" value="{{ comment[3] }}">



        <div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<a href="{{ url_for('comment_delete', commentid=commentid) }}" class="btn btn-danger" type="button">Delete Comment</a>
				<button class="btn btn-success" type="submit">Save</button>
			</div>
		</div>
    </form>


</div>

{% endblock %}