{% extends "layout.html" %}
{% block title %}Content Delete{% endblock %}
{% block content %}

<div class="container" role="main">
    <div class="page-header">
        <h1>Confirm content delete?</h1>
        <p>If you want to delete the content, click "Yes" button.</p>
    </div>

    <div class="alert alert-danger" role="alert">This operation cannot be reverted!</div>

    <p>Do you really want to delete this content ? <img class="img-rounded col-md-2" src="https://media.giphy.com/media/14uY44q6iY8k80/giphy.gif" height="140px"  class="media-object" alt="just do it"></p>
    <form role="form" action="{{ url_for('content_delete', contentid=contentid) }}" method="post">
        <div class="form-group">
            <button class="btn btn-success" type="submit">Yes</button>
        </div>
    </form>

</div>

{% endblock %}
