{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="contenttop">
	<div class="performance"> 
		<div class="perftitle"><h1>Hamlet</h1>
<h2>Writer:William Shakespeare</h2><h2>Stage Manager:Ayse Emel Mesci</h2>
</div>
				

		
		</div>
<img src="/static/hamlet.jpg" alt="example play picture">
	</div>
		<div class="content">
			<div class="contentleft">
			<h2>About Play:</h2>
	<p>Hamlet, Prince of Denmark, returns home to find his father murdered and his mother remarrying the murderer, his uncle. Meanwhile, war is brewing.</p>





<h2>Duration:</h2>
		<p>3 hours,10 minutes</p>
<h2>Opening Date:</h2>
		<p>Oct 10,2016</p>


<h2>Cast:</h2>
		<p>Jude Law, Gugu Mbatha-Raw, Kevin McNally, Harry Attwell, Ron Cook, John MacMillan, Matt Ryan, Gwilym Lee</p>

			</div>
			<div class="contentright">
			<h2>Your Friends Following This Play:</h2>
			<div class="friends"> 
			<img src="/static/samplepp1.jpg" width=50 height=50 alt="friend1">
			<img src="/static/samplepp2.JPG" width=50 height=50 alt="friend2">
						</div>
			</div>
			<p></p>			
		</div>
{% endblock %}
