{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="row" style="background-image:url(/static/content3.jpg);color:white;
    color:white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-left: 25px;
    padding-right: 25px;
    text-shadow: 0px 0px 10px #000000;">
    <div class="container">
            <div class="left col-lg-9">
                <h1>{{content[0]}}</h1>
                <h2>{{content[1]}}</h2>
            </div>
            <div class="right col-lg-3">
                <img src="{{content[4]}}" height="400px" width="300px" class="img-thumbnail" alt="example play picture">
            </div>
    </div>
 
</div>

        <div class="container marketing">
            <div class="row">
                <div class="left col-lg-9">
                    <div class="left col-lg-3">
                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation" class="active"><a href="#duration">Duration</a></li>
                            <li role="presentation"><a href="#date">Opening Date</a></li>
                            <li role="presentation"><a href="#genre">Genre</a></li>
                            <li role="presentation"><a href="#addcomment">Add Your Comment</a></li>
                            <li role="presentation"><a href="#listcomment">List Comments</a></li>
                            <li role="presentation"><a href="#listcriticreviews">List Critic Reviews</a></li>
                        </ul>
                    </div>
                    <div class="right col-lg-9">
                        

                        <div class="panel panel-default">
                            <div class="panel-heading" id="duration">
                                <h3>Duration</h3>
                            </div>
                            <div class="panel-body">
                                <p>{{content[2]}}</p>
                            </div>
                        </div>
                        <div class="panel panel-default" id="date">
                            <div class="panel-heading">
                                <h3>Opening Date</h3>
                            </div>
                            <div class="panel-body">
                                <p>{{content[3]}}</p>
                            </div>
                        </div>

                        <div class="panel panel-default" id="genre">
                            <div class="panel-heading">
                                <h3>Genres</h3>
                            </div>
                            <div class="panel-body">
                                <p>{{content[5]}}</p>
                            </div>
                        </div>

                        
                        <div class="panel panel-default" id="genre">
                            <div class="panel-heading">
                                <h3>Cast</h3>
                            </div>
                            {% for actor in cast %}
                            <div class="panel-body">
                                <p>{{actor[0]}} {{actor[1]}}</p>
                            </div>
                            {% endfor %}
                        </div>

                        <div class="panel panel-default" id="addcomment">
                            <div class="panel-heading">
                                <h3>Add Comment</h3>
                            </div>
                            <div class="panel-body">
                                <form role="form" action="{{ url_for('contentstatic', contentid = contentid) }}" id="commentform" class="form-horizontal" method="post">
		                        <div class="form-group">
				                    <label class="control-label" for="inputEmail">  What is your commentaries about play</label>
				                    <input class="form-control top-buffer" id="inputCommentary" name="inputCommentary" required="" type="text" placeholder="Your comment is...">
		                        </div>
                                <div class="form-group">
				                    <input type="submit" name = "submit" value = "Share" class="btn btn-default">
		                        </div>
                            </div>
                        </div>
                        <div class="panel panel-default" id="listcomment">
                            <div class="panel-heading">
                                <h3>Comments</h3>
                            </div>
                            <ul class="media-list" list-style="none">
			                {% for action in contentaction %}
			                <li class="well">
				                <div class="row">				
				              	<a href="{{ url_for('profile', username= action[0]) }}"><img class="img-rounded col-md-2" height="75px" width="75px" src="{{action[7]}}" alt="samplepp"></a>
					            <p class="col-md-8">
					        	{{ action[5] }} {{action[6]}} : "{{ action[3] }}"
			        		    </p>
			        		    <p>
			    			    Date :{{ action[4] }}
				            	</p>
				                  	 </div>		
		            	    {% endfor %}
		                </ul>
                        </div>
                        <div class="panel panel-default" id="listcriticreviews">
                            <div class="panel-heading">
                                <h3>Critic Reviews</h3>
                                <h5>Metascore: {{metascore}}</h5>
                            </div>
                            <ul class="media-list" list-style="none">
			                {% for review in reviews %}
			                <li class="well">
                                
				                
                                
                                <div class="media-body">
                                <h4 class="media-heading"> <a href="{{ url_for('critic',criticid=review[8]) }}" type="button">{{review[0]}} {{review[1]}} </a> from {{review[2]}}</h4>
                                
                                <h5 class="media-heading">Score: {{review[5]}} Date: {{review[4]}}</h3>
                                
                                <hr>
                                {{review[3]}}
                                <p>
                                {%if (admin) %}
                                <a href="{{ url_for('edit_review',reviewid=review[7]) }}" class="glyphicon glyphicon-pencil" type="button">Update</a>
						        <a href="{{ url_for('delete_review', reviewid=review[7]) }}" class="glyphicon glyphicon-trash" type="button">Delete</a>
                                </p>
                                </div>
                                {% endif %}
		            	    {% endfor %}
		                </ul>
                        </div>
                    </div>
                        
                    </div>
                <div class="right col-lg-3">
                    <h3>{{rating}}/5</h3>
                        {%if (israted) %}
                        {% for vote in onevote %}
                        <p>Your rated {{vote[0]}} for this play</p>
                        {% endfor %}
                        {% endif %}
				        <form role="form" id="addplay" action="{{ url_for('contentstatic', contentid = contentid) }}" method="post">
					        <div class="form-group">
						        <label for="Rating">Rate this play</label><br/>
						        <select name="Rating" id="Rating">
  							        <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
						        </select>
					        </div>
                            <div class="form-group">
                                <input type="submit" name = "submit" value = "Rate" class="btn btn-default">
                            </div>
				        </form>
                </div>
                <div class="right col-lg-3">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading"><h2>Friends Following Play</h2></div>
                        <!-- Table -->
                        <table class="table">
                            <tr>
                                <td><img src="/static/samplepp1.jpg" width=50 height=50 alt="friend1"></td>
                                <td>Furkan</td>
                                <td>Ozcelik</td>
                            </tr>
                            <tr>
                                <td><img src="/static/samplepp2.JPG" width=50 height=50 alt="friend2"></td>
                                <td>Mahmut Lutfullah</td>
                                <td>Ozbilen</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="right col-lg-3">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading"><h2>On Stages</h2></div>
                        <!-- Table -->
                        <table class="table">
                                {% for stage in stages %}
                            <tr>
                                <td><img src="/static/stagepics/{{stage[3]}}" width=50 height=50 alt="friend1"></td>
                                <td>{{stage[0]}}</td>
                                <td>{{stage[1]}}</td>
                                <td>{{stage[2]}}</td>
                            </tr>
                                {% endfor %}
                        </table>
                    </div>
                </div>

            </div>
        </div>
    {% endblock %}
