{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}

	
<!---if user has admin rights user can see this content, else user will be warned with an unauthorized field message.-->
<div class="content">
<h1> Welcome to Admin Panel, 'Firstname' 'Lastname'</h1>	
<hr/>	
			<div class="adminleft">
				<h3>Add Content</h3>
				<form action="#addcontent">
				Performance Title<br/><input type="text" name="PerformanceTitle"><br/>
				Writer<br/><input type="text" name="Writer"><br/>
				Stage Manager<br/><input type="text" name="StageManager"><br/>
				About Play	<br/>
				<textarea rows="4" cols="50" name="comment">
										</textarea>
				<br/><input type="submit" value="Submit"></form>
			</div>
			<div class="adminright">
				<ul>
					<li><a href="#">USER OPERATIONS</a></li>
					<ul class="subuser"><li><a href="#">Add User</a></li>
										<li><a href="#">Delete User</a></li>
										<li><a href="#">Update User</a></li>
					</ul>
					<li><a href="#">CONTENT OPERATIONS</a></li>
					<ul class="subcontent"><li><a href="#">Add Content</a></li>
										<li><a href="#">Delete Content</a></li>
										<li><a href="#">Update Content</a></li>
					</ul>
					<li><a href="#">COMMENT OPERATIONS</a></li>
					<ul class="subcontent"><li><a href="#">Manage Comments	</a></li>
					</ul>
				</ul>
				
			</div>	

			
	</div>
		{% endblock %}