{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="contenttop">
	<div class="performance"> 
		<div class="perftitle"><h1>Hamlet</h1>
<h2>Writer:William Shakespeare</h2><h2>Stage Manager:Ayse Emel Mesci</h2>
</div>
				

		
		</div>
<img src="/static/hamlet.jpg" alt="example play picture">
	</div>
		<div class="content">
			<div class="contentleft">
			<pre>About Play:
	A man murdered somebody and police trying to catch him.





Cast:</pre>
			</div>
			<div class="contentright">
			<p>Your Friends Following This Play:</p>
			<div class="friends"> 
			<img src="Friend.png" width=30 height=30 alt="friend1">
			<img src="Friend.png" width=30 height=30 alt="friend2">
			<img src="Friend.png" width=30 height=30 alt="friend3">
			</div>
			</div>
			<p></p>			
		</div>
{% endblock %}