{% extends "layout.html" %}
{% block title %}Critic Delete{% endblock %}
{% block content %}

<div class="container" role="main">
    <div class="page-header">
        <h1>Delete Critic</h1>
    </div>

    <div class="alert alert-danger" role="alert">This operation cannot be reverted!</div>

    <p>Are you sure to delete this critic?</p>
    <form role="form" action="{{ url_for('criticdelete', criticid=criticid) }}" method="post">
        <div class="form-group">
            <button class="btn btn-danger" type="submit">Yes</button>
        </div>
    </form>

</div>

{% endblock %}