<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Artskull</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>

    <body>
        <header>
            <div class="topleft">
                <h1>Artskull</h1>
            </div>
            
            <div class="topright">
                <form id="loginform" method="post">
					<table>
						<tbody>
							<tr>
								<td>
									<input class="logintb" name="usernamelogin" id="usernamelogin" type="text" placeholder="Username" required>
								</td>
								<td>
									<input class="logintb" name="passwordlogin" id="passwordlogin" type="password" placeholder="Password" required>
								</td>
								<td>
									<input class="loginbutton" type="submit" value="Login">
								</td>
							</tr>
							<tr>
								<td>
									<a href="#signup">Sign Up</a>
								</td>
								<td>
									<a href="">Forgot Account?</a>
								</td>
							</tr>
						</tbody>
					</table>
                </form>
            </div>
            <!--<nav>
                <li><a href="{{ url_for('home') }}">Home</a></li>
            </nav>-->
        </header>

        {% block content %}{% endblock %}
		
		<footer>
            <ul>
                 <a href="https://github.com/itucsdb1610/itucsdb1610/blob/master/README.md"><li>About Us</li></a>
                 <a href="https://github.com/itucsdb1610/itucsdb1610/wiki"><li>Wiki</li></a>
                 <a href="https://github.com/itucsdb1610/itucsdb1610"><li>GitHub</li></a>
             </ul>
             <!--<img src="" alt="Project logo" />-->
             <p>An open-source ITU project by team itucsdb1610.</p>
             <p>2016</p>
		</footer>
    </body>
</html>