<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Artskull</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrapfix.css') }}">
		
    </head>

    <body>
        <header class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" aria-expanded="false" aria-controls="navbar" type="button" data-toggle="collapse" data-target="#navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Artskull</a>
                </div>

                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="nav navbar-nav">
                    <!-- menu items will change, these are for test purposes -->
                     {% if 'username' in session %}
                        <li><a href="{{ url_for('timeline') }}">Home</a></li>
                        <li><a href="{{ url_for('profile', username=session['username']) }}">{{ session['username'] }}</a></li>
                        <li><a href="{{ url_for('content') }}">Content</a></li>
                        <li><a href="{{ url_for('admin') }}">Admin Panel</a></li>
                        <li><a href="{{ url_for('user_logout') }}">Log Out</a></li>
                        <!--<li><a href="{{ url_for('search')}}">Search Result</a></li>-->
                    {% endif %}
                    {% if 'username' not in session %}
                        <li><a href="{{ url_for('user_login') }}">Log In</a></li>
                    {% endif %}
                    </ul>
                    <form class="navbar-form navbar-right" role="form" id="searchform" name="searchform" action="{{url_for('search')}}" method="post">
                        <div class="input-group">
                            <input type="text" class="form-control" id="searchbox" name="searchbox" placeholder="Search">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                            </span>
                        </div>
                    </form>
                </div>  
            </div>
        </header>

        
        {% block content %}{% endblock %}

        
		
		<footer class="footer" style="text-align: center;">
            <div class="container">
                <ul style="list-style: none;">
                    <a href="https://github.com/itucsdb1610/itucsdb1610/blob/master/README.md"><li style="display: inline-block;">About Us</li></a>
                    <a href="https://github.com/itucsdb1610/itucsdb1610/wiki"><li style="display: inline-block;">Wiki</li></a>
                    <a href="https://github.com/itucsdb1610/itucsdb1610"><li style="display: inline-block;">GitHub</li></a>
                </ul>
                <!--<img src="" alt="Project logo" />-->
                <p class="text-muted">An open-source ITU project by team itucsdb1610.</p>
                <p class="text-muted">2016</p>
            </div>
		</footer>
        
        <script src="https://use.fontawesome.com/267f2ef860.js"></script>
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        
    </body>
</html>
