{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
	
<!---if user has admin rights user can see this stage, else user will be warned with an unauthorized field message.-->
<div class="container-fluid">
<h1> Welcome to Admin Panel, 'Firstname' 'Lastname'</h1>
    <hr/>
			<div class="left col-sm-9">
			<h3>Add Play</h3>
				<form id="addplay" action="{{ url_for('play_add') }}" method="post">
					<div class="form-group">
						<label for="inputName">Stage Name:</label><br/>
						<select name="inputName" id="inputName">
							{% for stage in stages %}
  							<option value="{{stage[0]}}">{{stage[1]}}</option>
  							{% endfor %}
						</select>
					</div>
					<div class="form-group">
						<label for="inputTitle">Title:</label><br/>
						<select name="inputTitle" id="inputTitle">
							{% for content in contents %}
  							<option value="{{content[0]}}">{{content[1]}}</option>
  							{% endfor %}
						</select>
					</div>
					<div class="form-group">
						<label for="inputDate">Date:</label><br/>
						<input type="date" class="form-control" name="inputDate" id="inputDate">
					</div>


				<br/><button type="submit" class="btn btn-default">Add Play</button>
				</form>
			</div>
			<div class="right col-sm-3">
				<ul class ="list-group">
					<li class="list-group-item">USER OPERATIONS</li>
						<ul class="list-group">
							<li class="list-group-item"><a href="/#signupform">Add User</a></li>
							<li class="list-group-item"><a href="{{ url_for('users_list') }}">List Users</a></li>
						</ul>

					<li class="list-group-item">CONTENT OPERATIONS</li>
						<ul class="list-group">
							<li class="list-group-item"><a href="#addcontent">Add Content</a></li>
							<li class="list-group-item"><a href="{{ url_for('contents_list') }}">List Contents</a></li>
						</ul>

					<li class="list-group-item">STAGE OPERATIONS</li>
						<ul class="list-group">
							<li class="list-group-item"><a href="{{ url_for('stage_add') }}">Add Stage</a></li>
							<li class="list-group-item"><a href="{{ url_for('stages_list') }}">List Stages</a></li>
						</ul>

					<li class="list-group-item">PLAY OPERATIONS</li>
						<ul class="list-group">
							<li class="list-group-item"><a href="{{ url_for('play_add') }}">Add Play</a></li>
							<li class="list-group-item"><a href="{{ url_for('plays_list') }}">List Plays</a></li>
						</ul>

					<li class="list-group-item">COMMENT OPERATIONS</li>
						<ul class="list-group">
							<li class="list-group-item"><a href="{{ url_for('comments_list') }}">Manage Comments</a></li>
						</ul>

					<li class="list-group-item">ACTOR OPERATIONS</li>
						<ul class="list-group">
							<li class="list-group-item"><a href="{{ url_for('actor') }}">Actors</a></li>
						</ul>
				</ul>
				
			</div>	

			
	</div>
    {% endblock %}
