{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="container" role="main">
    <div class="page-header">
        <h1>Search results for {{keyword}}</h1>
    </div>


    <h2>Results for Users</h2>
    <ul class="media-list">
        {% for result in results %}
        <li class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="{{result[4]}}" alt="result1">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{ result[2] }} {{ result[3] }}</h4>
                <p>{{ result [1] }}</p>
                <p>{{ result [0] }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}