{% extends "layout.html" %}
{% block title %}Search{% endblock %}
{% block content %}

<div class="container" role="main">
    <div class="page-header">
        <h1>Search results for {{keyword}}</h1>
    </div>


    <p style="font-weight: bold">Users</p>
    <hr class="featurette-divider" />
    <ul class="media-list">
        {% for result in results %}
        <a href="{{ url_for('profile', username=result[0]) }}">
            <li class="media">
                <div class="media-left">
                <img width="150px" height="150px" class="media-object" src="{{result[4]}}" alt="result1">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{ result[2] }} {{ result[3] }}</h4>
                    <p>{{ result [1] }}</p>
                    <p>{{ result [0] }}</p>
                </div>
            </li>
        </a>
        <hr class="featurette-divider" />
        {% endfor %}
        
        <p style="font-weight: bold">Plays</p>
        <hr class="featurette-divider" />
        {% for play in plays %}
        <a href="{{ url_for('contentstatic', contentid=play[0]) }}">
            <li class="media">
                <div class="media-left">
                <img width="150px" height="200px" class="media-object" src="{{play[5]}}" alt="play">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{ play[1] }}</h4>
                    <p>{{ play [2] }}</p>
                    <p>{{ play [6] }}</p>
                </div>
            </li>
        </a>
        <hr class="featurette-divider" />
        {% endfor %}
    </ul>
</div>
{% endblock %}