{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="row" style="background-image:url(/static/content3.jpg);color:white;
    color:white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-left: 25px;
    padding-right: 25px;
    text-shadow: 0px 0px 10px #000000;">
    <div class="container">
            <div class="left col-lg-9">
                <h1>{{stage[1]}}</h1>

            </div>
            <div class="right col-lg-3">
                <img src="/static/stagepics/{{stage[4]}}" height="400px" width="300px" class="img-thumbnail" alt="example stage picture">
            </div>
    </div>
 
</div>

        <div class="container marketing">
            <div class="row">
                <div class="left col-lg-9">
                    <div class="left col-lg-3">
                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation" class="active"><a href="#location">Location</a></li>
                            <li role="presentation"><a href="#capacity">Capacity</a></li>
                        </ul>
                    </div>
                    <div class="right col-lg-9">
                        

                        <div class="panel panel-default">
                            <div class="panel-heading" id="location">
                                <h3>Location</h3>
                            </div>
                            <div class="panel-body">
                                <p>{{stage[2]}}</p>
                            </div>
                        </div>
                        <div class="panel panel-default" id="capacity">
                            <div class="panel-heading">
                                <h3>Capacity</h3>
                            </div>
                            <div class="panel-body">
                                <p>{{stage[3]}}</p>
                            </div>
                        </div>
                    </div>
                        
                    </div>
                
            </div>
        </div>
    {% endblock %}
