{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}


<div class="container marketing">
	<div class="left col-lg-9">
		<hr>
	<a href="{{ url_for('clearActionTable') }}" class="btn btn-danger" type="button">Drop ACTIONS table</a>
	<hr>
		<ul class="media-list" list-style="none">
			{% for action in actionList %}
			<li class="well">
				<div class="row">				
					<img class="img-rounded col-md-2" height="100px" width="100px" src="{{url_for('static', filename='profpics/dummyprofile.png')}}" alt="samplepp1">
					<p class="col-md-8">
						{{ action[0] }} : "{{ action[3] }}"
					</p>
					<p>
						Date :{{ action[4] }}
					</p>
					<a href="{{ url_for('actionModify', actionid=action[5]) }}" class="glyphicon glyphicon-pencil" type="button">Modify</a>
					<a href="{{ url_for('deleteAction', actionid=action[5]) }}" class="glyphicon glyphicon-trash" type="button">Delete</a>
					<a href="{{ url_for('deleteCommentsOfAction', actionid=action[5]) }}" class="glyphicon glyphicon-trash" type="button">Delete All Comments Of This Post</a>					
				</div>
				<hr>
					
						{%for content in contentlist%}
						{%if (content[0]==action[1])%}
						
							<div class="row">
						<img src="/static/contentpics/{{content[5]}}" height="150px" width="200px" class="img-rounded col-md-3" alt="example play picture">
						<p> 
							{{content[1]}} by {{content[2]}} 
						</p>
						<p>
							{{content[4]}} : {{content[3]}}
						</p>		
						</div>	
							
						{% endif %}
						{% endfor %}

				<hr>
				<div class="row">
					<h4> Comments </h4>
					<ul class="list-group ">
						{% for comment in commentList %}
							{% if (comment[3] == action[5]) %} 
								<li class = "well">
									
									<div class="row">				
										<img class="img-rounded col-md-2" height="100px" width="100px" src="{{url_for('static', filename='profpics/dummyprofile.png')}}" alt="samplepp1">
										
										<p class="col-md-8">
										 {{ comment[2] }}
										</p>
										<p>
										
										</p>
							<a href="{{ url_for('comment_edit', commentid=comment[0]) }}" class="glyphicon glyphicon-pencil" type="button">Modify</a>
							<a href="{{ url_for('comment_delete', commentid=comment[0]) }}" class="glyphicon glyphicon-trash" type="button">Delete</a>
				</div>
				<div class="row"><p class="col-md-10">{{ comment[1] }} </p></div>
				</li>
							{% endif %}
						{% endfor %}
					</ul>									
				</div>
				<form role="form" action="{{ url_for('timeline') }}" id="commentform" class="form-horizontal" method="post">
				<div class="form-group">
				
  					<label for="comment">Join Discussion:</label>
 					 <textarea class="form-control" rows="5" id="comment" name="inputCommentary" placeholder="Your comment"></textarea>
					 <input type="hidden" name="actionid" value="{{ action[5] }}">
					 <button class="col-sm-offset-11 btn btn-success top-buffer" type="submit" value="send" name="submit">Send</button>		
				</div>	
				</form>
			</li>
				{% endfor %}
		</ul>								
				</div>			
			
	<div class="right col-lg-3">
		<hr>
		<h3>
			Plays you may interest
		</h3>
		<ul class="media-list">
			<li>
				<img class="img-rounded" height="100px" width="100px" src="{{url_for('static', filename='samplerecommendp1.jpg')}}" alt="samplerecommendp1">
				<p> Macbeth </p>
				<p> Location: Seben Theatre </p>
				<p> Date: 20.10.2016 </p>
				<p> Time: 20.00 </p>
			</li>
			<li>
				<img class="img-rounded" height="100px" width="100px" src="{{url_for('static', filename='samplerecommendp2.jpg')}}" alt="samplerecommendp2">
				<p> Faust </p>
				<p> Location: İzmir Kocatepe </p>
				<p> Date: 21.10.2016 </p>
				<p> Time: 19.55 </p>
			</li>
			<li>
				<img class="img-rounded" height="100px" width="100px" src="{{url_for('static', filename='samplerecommendp3.jpg')}}" alt="samplerecommendp3">
				<p> 12 Angry Men </p>
				<p> Location: Sanayi Mahallesi Grand Theatre </p>
				<p> Date: 22.10.2016 </p>
				<p> Time: 23.00 </p>
			</li>
		</ul>
	</div>
</div>
{% endblock %}